// Body
$body-bg: #fcf8fb;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Boostrap
$primary: rgb(248, 107, 206);
$info: rgb(255, 176, 231);
$danger: rgb(255, 67, 161);
$enable-shadows: true;